<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" id="WebApp_ID" version="5.0">
  <display-name>Projeto</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>cadastrarEvento</servlet-name>
    <servlet-class>controller.CadastrarEventoServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>listarEvento</servlet-name>
    <servlet-class>controller.ListarEventoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cadastrarEvento</servlet-name>
    <url-pattern>/cadastrarEvento</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>listarEvento</servlet-name>
    <url-pattern>/listarEvento</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>listarUsuario</display-name>
    <servlet-name>listarUsuario</servlet-name>
    <servlet-class>controller.listarUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>listarUsuario</servlet-name>
    <url-pattern>/listarUsuario</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>controller.LoginServlet</servlet-class>
</servlet>
<servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
</servlet-mapping>
</web-app>